body {
    background-color: darkgray;
    position: relative;
    font-size: 30px;
    color: white;
    filter: drop-shadow(3px 3px 5px black);
    letter-spacing: 6px;
    word-spacing: 5px;
}

h1 {
    text-align: center;
}

.slides {
    position: absolute;
    width: 50%;
    height: 50vh;
    display: none;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
    transform: translate(50%, 30%);
}